* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.box {
    margin-top: 2rem;
    height: max-content;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding-bottom: .5rem;
}
img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: .5rem;
    border: 4px solid #5f9fd1;
}
.navbar {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding: .5rem;
    background-color: #5f9fd1;
}

.buttons {
    margin-top: .5rem;
}

li {
    list-style-type: none;
}

.list {
    text-decoration: none;
    font-size: 1.3rem;
    color:navy;
}

.listtop {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin-top: .5rem;
    width: 100%;
}

.detailbuttons {
    margin-top: .5rem;
    width: 60%;
}